:root {
  --pri-clr: #ffbe0b;
  --black-clr: rgba(0, 0, 0, 0.99);
  --black-clr-light: #555;
  --blue-clr: #17e0f1;
  --blue-light: #cbd9fd;
  --white-clr: #fefefe;
  --purple-clr: #4313a9;
  --purple-light: #b9b1ec;
  --purple-light-2: #6edae9;
  --light-grey-clr: rgba(243, 243, 243, 0.6);
  --green-clr: #37b24d;
  --red-clr: #c92a2a;

  --font-family: 'Ubuntu', sans-serif;

  --transition: all 0.2s ease-in;
}

.latest-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.latest-events > .section-subtitle {
  grid-column: 1/-1;
  margin-bottom: 1rem;
}

.event-1-img {
  margin-bottom: 1rem;
}

.latest-event-title {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.latest-events .small-text {
  text-align: left;
}

.event-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-img-img {
  width: 75%;
}
