@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --pri-clr: #ffbe0b;
  --black-clr: rgba(0, 0, 0, 0.99);
  --black-clr-light: #555;
  --blue-clr: #17e0f1;
  --blue-light: #cbd9fd;
  --white-clr: #fefefe;
  --purple-clr: #4313a9;
  --purple-light: #b9b1ec;
  --purple-light-2: #6edae9;
  --light-grey-clr: rgba(243, 243, 243, 0.6);
  --green-clr: #37b24d;
  --red-clr: #c92a2a;

  --font-family: 'Ubuntu', sans-serif;

  --transition: all 0.2s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  font-size: 1rem;
}

img {
  width: 100%;
}

/* section  */

section {
  padding: 6rem 0;
}

.section-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.section-text {
  align-self: center;
}

.section-subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--blue-clr);
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  max-width: 25ch;
}

.section-desc {
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 60ch;
}

.section-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
}

/* section  */

.container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

/* header  */

.home-hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */

  padding-bottom: 6rem;
}

/* nav  */

.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: var(--white-clr);
  transition: var(--transition);
}

.active {
  color: var(--blue-clr);
}

.nav-link:hover {
  color: var(--purple-clr);
}

/* btns  */

.btn-cta {
  display: inline-block;
  text-transform: capitalize;
  padding: 1rem 2rem;
  background-color: var(--pri-clr);
  border-radius: 5rem;
  color: var(--black-clr);
  cursor: pointer;
  transition: var(--transition);
}

.btn-cta:hover {
  background-color: var(--purple-clr);
  color: var(--white-clr);
}

.sec-btn {
  display: inline-block;
  color: var(--white-clr);
  cursor: pointer;
  transition: var(--transition);
}

.sec-btn:hover {
  color: var(--purple-clr);
}

.sec-btn-bordered-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sec-btn > .bordered-icon {
  border: 1px solid var(--white-clr);
  color: var(--white-clr);
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
  transition: var(--transition);
}

.sec-btn:hover .bordered-icon {
  border: 1px solid var(--purple-clr);
  color: var(--purple-clr);
}

.outline-btn {
  display: inline-block;
  text-transform: capitalize;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid var(--pri-clr);
  border-radius: 5rem;
  color: var(--pri-clr);
  cursor: pointer;
  transition: var(--transition);
}

.outline-btn:hover {
  border: 2px solid var(--purple-clr);
  color: var(--purple-clr);
}

/* hero section  */

.hero-title {
  font-size: 2.5rem;
  max-width: 20ch;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.hero-desc {
  max-width: 40ch;
  line-height: 1.6;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: space-between;
  max-width: 720px;

  background-color: var(--light-grey-clr);
  padding: 2rem;
  border-radius: 1rem;
}

input {
  width: 300px;
  border-radius: 0.5rem;
  outline: none;
  border: none;

  padding: 0.5rem;
  font-size: 1.3rem;

  transition: outline 0.1s ease-in-out;
}

input:focus {
  outline: 2px solid var(--purple-clr);
}

/* services section image */

.services-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section-img-img {
  width: 75%;
}

/* vision section */

#vision {
  position: relative;
}

.vision-text {
  align-self: flex-start;
}

.key-points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  margin-bottom: 2rem;

  font-size: 14px;
}

.point-heading {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.point-heading > img {
  width: 1rem;
}

.point-desc {
  margin-left: 1.5rem;
  line-height: 1.7;
}

.vision-section-img {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.vision-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 20%;
}

/* solutions section */

#solutions {
  position: relative;
}

.solutions-bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25rem;

  transform: translateX(-50%);
  z-index: -1;
}

.solutions-section-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

/* benefits section */

#benefits {
  position: relative;
}

.benefits-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.benefits-text {
  grid-column: 1/-1;
  text-align: center;
}

.benefits-title {
  max-width: 100%;
  margin-bottom: 3rem;
}

.benefit {
  text-align: center;
}

.benefit-icon {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.benefit-title {
  margin-bottom: 0.5rem;
}

.benefit-desc {
  line-height: 1.6;
  font-size: 0.875rem;
}

.plane-img {
  width: 2rem;

  position: absolute;
  bottom: 0;
  right: 10%;
}

/* gallery section */

.lines-bg {
  background: url('../img/lines-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 2rem;
}

.gallery-section-img {
  align-self: stretch;
}

.gallery-section-img-img {
  object-fit: cover;
  height: 100%;
  border-radius: 1rem;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.strip-one {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 1rem;
}
.strip-two {
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 1rem;
}

.gallery-img-4 {
  align-self: flex-end;
}

.gallery-text {
  align-self: flex-start;
}

/* membership section  */

#membership {
  position: relative;
}

.membership-side-img {
  width: 4rem;
  position: absolute;
  left: 0;
  top: 22.5%;

  z-index: -1;
}

.membership-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-section-img-img {
  width: 75%;
}

/* footer */

footer {
  background: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding: 4rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-logo {
  width: 10rem;
  margin-bottom: 1rem;
}

.footer-desc {
  font-size: 0.875rem;
  line-height: 1.5;
}

.col-2,
.col-3 {
  display: grid;
  justify-content: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col-3 {
  align-self: flex-start;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-link {
  font-size: 2rem;
  color: var(--white-clr);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--purple-clr);
}

/* pricing */

.page-hero {
  /* min-height: 90vh; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url('../img/bg-pages.png');
  background-size: cover;
  background-position: bottom center;
}

.page-hero-section {
  text-align: center;
  padding: 6rem 0 20rem 0;
}

.page-hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.up {
  margin-top: -18rem;
}

.pricing-card {
  align-self: flex-start;
  color: var(--black-clr);
  padding: 2rem 3rem;
  border-radius: 1rem;

  transition: var(--transition);
}

.pricing-card:hover {
  transform: translateY(-1rem);
}

.pricing-card-blue {
  background-color: var(--blue-light);
}

.pricing-card-purple {
  background-color: var(--purple-light);
}

.pricing-card-purple-light {
  background-color: var(--purple-light-2);
}

.pricing-card-title {
  text-align: center;
  margin-bottom: 0.25rem;
}

.small-text {
  text-align: center;
  font-size: 0.875rem;
  color: var(--black-clr-light);
  margin-bottom: 1rem;
}

.feature {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.5;
}

.feature > i {
  margin-top: 0.25rem;
}

.feature > .fa-circle-check {
  color: var(--green-clr);
}
.feature > .fa-circle-xmark {
  color: var(--red-clr);
}

.pricing-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 2rem;
}

/* events */

.latest-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.latest-events > .section-subtitle {
  grid-column: 1/-1;
  margin-bottom: 1rem;
}

.event-1-img {
  margin-bottom: 1rem;
}

.latest-event-title {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.latest-events .small-text {
  text-align: left;
}

.view-all-events {
  margin-top: 2rem;
  grid-column: 1/-1;
  justify-self: center;
}

.event-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-img-img {
  width: 75%;
}

/* jobs */

.jobs-hero {
  background-position: center center;
}

.jobs-section {
  padding: 8rem 0 10rem 0;
}

.job {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;

  padding: 2rem 0;
  border-bottom: 1px solid var(--purple-clr);
}

.job:first-child {
  padding-top: 0rem;
}
.job:last-child {
  padding-bottom: 0rem;
  border-bottom: none;
}

.job-title {
  margin-bottom: 0.5rem;
}

.job-desc {
  line-height: 1.6;
  max-width: 70ch;
  margin-bottom: 1rem;
}

.job-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 600px;
}

.posted-by {
  color: var(--blue-clr);
}

.apply-btn {
  align-self: center;
  justify-self: flex-end;
}

/* media queries */

@media (max-width: 1024px) {
  .membership-side-img {
    display: none;
  }

  .pricing-card {
    padding: 2rem;
  }

  .benefits-title {
    margin-bottom: 2rem;
  }
}

@media (max-width: 880px) {
  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .pricing-card:last-child {
    grid-column: 1/-1;
    justify-self: center;
  }

  .benefits-title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  /* homepage */

  .hero {
    padding: 8rem 0;
  }

  .nav-links {
    display: none;
  }

  .home-hero {
    text-align: center;
    padding-bottom: 0rem;
  }

  .hero-title {
    max-width: 100%;
  }

  .hero-desc {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    padding: 1rem;
  }

  section {
    padding: 4rem 0;
  }

  .section-2col {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .section-text {
    justify-self: center;
  }

  .services-section-img {
    display: none;
  }

  .vision-section-img {
    max-width: 600px;
    margin: 0 auto;
  }

  .key-points {
    grid-template-columns: 1fr;
  }

  .solutions-bg {
    display: none;
  }

  .solutions-section-img {
    max-width: 600px;
    margin: 0 auto;
  }

  .benefits-section {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .benefits-title {
    margin-bottom: 0rem;
  }

  .benefit-desc {
    max-width: 250px;
    margin: 0 auto;
  }

  .gallery-section {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .gallery-section-img {
    display: none;
  }

  .membership-section-img {
    display: none;
  }

  /* pricing */

  .pricing-cards {
    grid-template-columns: 1fr;
  }

  .pricing-card {
    justify-self: center;
  }

  .pricing-card:hover {
    transform: translateY(0rem);
  }

  /* events */

  .latest-events {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .event-img {
    display: none;
  }
}

@media (max-width: 660px) {
  section {
    padding: 2rem 0;
  }

  .hero {
    padding: 4rem 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
  }

  input {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .form-btn {
    justify-self: center;
  }

  .section-btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  /* jobs */

  .job {
    grid-template-columns: 1fr;
  }

  .job-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    margin-bottom: 1rem;
  }

  .apply-btn {
    justify-self: flex-start;
  }

  /* footer */
  .footer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 2rem;
  }

  .footer-links {
    flex-direction: row;
  }

  .col-2 {
    display: none;
  }
  .col-3 {
    justify-content: flex-start;
  }
}
